<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_1_SnapShot_1610133854369"/>
    <intAttribute key="fpIndex" value="4"/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="defaultInitValue;;defaultInitValue;0;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <stringAttribute key="specName" value="DragonFire"/>
</launchConfiguration>
